<div class="dejourn-view">
	<div class="dejourn-sidenav"></div>
	<div class="dejourn-sidenav-container">
		<div class="dejourn-toolbar">
			<div class="user-status">
				<div class="chat-title" (click)="openThread = !openThread">Sujith M A</div>
				<div class="chat-desc">
					<span class="desc-row">
						<i class="fa fa-star"></i>
					</span>
					<span class="desc-row">
						<span class="round active"></span>
						<span class="desc-status">active</span>
					</span>
					<span class="desc-row">
						Sujith M A
					</span>
				</div>
			</div>
		</div>
		<div class="dejourn-sidenav-content">
			<div class="dejourn-messages-container">
				<div class="dejourn-messages"></div>
				<div class="dejourn-message-box">
					<textarea></textarea>
				</div>
			</div>
			<div class="dejourn-thread"
				*ngIf="openThread">
				<div class="dejourn-toolbar"></div>

				<div class="thread-content"></div>
				<div class="thread-message-box">
					<textarea></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
