<div class="dejourn-view">
	<div class="dejourn-sidenav"></div>
	<div class="dejourn-sidenav-container">
		<div class="dejourn-toolbar">
			<div class="user-status">
				<div class="chat-title">{{ user?.email }}</div>
				<div class="chat-desc">
					<span class="desc-row">
						<i class="fa fa-star"></i>
					</span>
					<span class="desc-row">
						<span class="round active"></span>
						<span class="desc-status">active</span>
					</span>
					<span class="desc-row">
						{{ user?.email }}
					</span>
				</div>
			</div>
		</div>
		<div class="dejourn-sidenav-content">
			<div class="dejourn-messages-container">
				<div class="dejourn-messages"
					#messagesRef
					id="messagesRef">

					<div class="default-message message">
						<div class="message-head">
							<img src="../../../assets/imgs/avatar.png" class="avatar-lg">
							<div class="user-details">
								<h4>lihkj <span class="round active"></span></h4>
								<h6>lihkj</h6>
							</div>

						</div>
						<div class="message-content">
							<p>
								<span class="highlight">
									This is your space.
								</span>
								Draft messages, make to-do listsor keep links and files to hand. You can also talk to yourself here, but please bear in
								mind you'll have to provide both sides of the conversation.

							</p>
						</div>
					</div>

					<div class="">
						<ng-container *ngFor="let msg of messages">
							<app-message
								data-enableReply="true"
								[message]="msg"
								(reply)="startThread(msg)">
							</app-message>
						</ng-container>
					</div>

				</div>
				<div class="dejourn-message-box">
					<textarea
						#messageTextAreaRef
						(keydown)="send($event)"
						(keyup)="resetKey()"
						placeholder="Make a note of something"
						[formControl]="message">
					</textarea>
				</div>
			</div>
			<div class="dejourn-thread"
				*ngIf="openThread">
				<div class="dejourn-toolbar">
					<div class="user-status">
						<div class="chat-title">Thread</div>
						<div class="chat-desc">
							<span class="desc-row">
								{{ selectedMsg?.user }}
							</span>
						</div>
					</div>
					<span class="close"
						(click)="openThread = false">
						<i class="fa fa-times" aria-hidden="true"></i>
					</span>
				</div>

				<div class="thread-content"
					#replyMessagesRef>
					<app-message
						[message]="selectedMsg">
					</app-message>
					<div class="replies"
						*ngIf="selectedMsg?.replies?.length > 0">
						<div class="reply-length">
							<span>
								{{ selectedMsg?.replies?.length === 1 ? '1 reply' : selectedMsg?.replies?.length + 'replies'}}
							</span>
						</div>
						<ng-container
							*ngFor="let rply of selectedMsg.replies">
							<app-message
								[message]="rply">
							</app-message>
						</ng-container>
					</div>
				</div>
				<div class="thread-message-box">
					<textarea
						placeholder="Reply"
						(keydown)="reply($event, selectedMsg)"
						(keyup)="resetKey()"
						[formControl]="replyMessage">
					</textarea>
				</div>
			</div>
		</div>
	</div>
</div>
