<div class="dejourn-view">
	<div class="dejourn-sidenav"></div>
	<div class="dejourn-sidenav-container">
		<div class="dejourn-toolbar">
			<div class="user-status">
				<div class="chat-title">{{ user?.email }}</div>
				<div class="chat-desc">
					<span class="desc-row">
						<i class="fa fa-star"></i>
					</span>
					<span class="desc-row">
						<span class="round active"></span>
						<span class="desc-status">active</span>
					</span>
					<span class="desc-row">
						{{ user?.email }}
					</span>
				</div>
			</div>
		</div>
		<div class="dejourn-sidenav-content">
			<div class="dejourn-messages-container">
				<div class="dejourn-messages">

					<div class="default-message message">
						<div class="message-head">
							<img src="../../../assets/imgs/avatar.png" class="avatar-lg">
							<div class="user-details">
								<h4>lihkj <span class="round active"></span></h4>
								<h6>lihkj</h6>
							</div>

						</div>
						<div class="message-content">
							<p>
								<span class="highlight">
									This is your space.
								</span>
								Draft messages, make to-do listsor keep links and files to hand. You can also talk to yourself here, but please bear in
								mind you'll have to provide both sides of the conversation.

							</p>
						</div>
					</div>

					<div class="">
						<ng-container *ngFor="let msg of messages">
							<app-message
								[message]="msg"
								(reply)="openThread = !openThread">
							</app-message>
						</ng-container>
					</div>

				</div>
				<div class="dejourn-message-box">
					<textarea></textarea>
				</div>
			</div>
			<div class="dejourn-thread"
				*ngIf="openThread">
				<div class="dejourn-toolbar"></div>

				<div class="thread-content"></div>
				<div class="thread-message-box">
					<textarea></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
